@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1a1818;
  }
}

@font-face {
    font-family: "Typographica";
    src: url("../public/fonts/typographica.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.typographica {
    font-family: "Typographica", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Gradient text utility for headers */
/* Gradient header style */
.gradient-header {
    @apply text-4xl font-semibold mb-4 bg-gradient-to-r from-blue-700 via-emerald-600 to-blue-500 bg-clip-text text-transparent  select-none;
}

.gardient-subtitle{
    @apply text-xl text-gray-700 leading-tight select-none;

}

.gradient-hero {
    @apply text-3xl font-semibold mb-4 bg-gradient-to-r from-blue-700 via-emerald-600 to-blue-500 bg-clip-text text-transparent;
}

/* styles/globals.css */
.scrollbar-none::-webkit-scrollbar {
    display: none;
}
.scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.animate-gradient {
    background-size: 200% 200%;
    animation: gradient 4s ease infinite;
}
