<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSBD1fs6Y_ZSucVXpyBYwVNLCy6ECV6NI</string>
	<key>GCM_SENDER_ID</key>
	<string>131535207864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abstra.upkyp</string>
	<key>PROJECT_ID</key>
	<string>upkyp-cdb1c</string>
	<key>STORAGE_BUCKET</key>
	<string>upkyp-cdb1c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131535207864:ios:a6672fe2d6bc50733a234d</string>
</dict>
</plist>